<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>552271969594-c7gaae4omc8i1djreeuinis6n5vnpj98.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.552271969594-c7gaae4omc8i1djreeuinis6n5vnpj98</string>
	<key>API_KEY</key>
	<string>AIzaSyA7vv47JM5LhLN-GwjcRyihJZSqvTkA14E</string>
	<key>GCM_SENDER_ID</key>
	<string>552271969594</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.mobiquest.exide</string>
	<key>PROJECT_ID</key>
	<string>exide-37a45</string>
	<key>STORAGE_BUCKET</key>
	<string>exide-37a45.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:552271969594:ios:942d204e0edc2371fc6403</string>
</dict>
</plist>